{% extends 'layout.html' %}

{% block title %}Blue Sky FAQ{% endblock %}


{% block styles %}
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/church.css')}}">
{% endblock %}

{% block og %}
	<meta property="og:title" content="Bluesky FAQ" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://bsky.church/faq" />
	<meta property="og:description"
		content="Часті Питання" />
{% endblock %}

{% block content %}
<div id="container" class="container">
  <h3 class="mb-5">Ви тут. Що далі?</h3>

  <h5 class="text-center">&copy;&nbsp;<a href="https://bsky.app/profile/rikk-tikki-tav.bsky.social">рікі тікі таві</a> та Церква<br/>
    v 1.0, липень 2023</h5>

  <div class="accordion accordion-flush" id="accordionFAQ">
    <div class="accordion-item">
      <h2 class="accordion-header" id="feature-absent">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAbsent"
                aria-expanded="false" aria-controls="collapseAbsent">
          Чого тут немає?
        </button>
      </h2>
      <div id="collapseAbsent" class="accordion-collapse collapse" aria-labelledby="feature-absent" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p><strong>Мережа Bluesky&nbsp;&mdash; на стадії бета-тесту</strong>, а отже багато з того, що ви звикли бачити в інших
          соцмережах, зокрема у Twitter тут поки що відсутнє, і коли буде&nbsp;&mdash; невідомо.</p>

          <ol>
            <li>Відео та GIF. Додавання GIF обійдеться дуже дорого в плані модерації та пропусккної здатності, тож
              <a href="https://bsky.app/profile/bnewbold.bsky.team/post/3jzkktewy4j2q">поки без них, і скоро не очікуйте</a>.
            Можна вставити посилання на відео або GIF, підтримується embedding.</li>
            <li>Бан за списком. Враховуючи існування <a href="#headingTwo">м'юту за списками</a>, логічно очікувати подібний функціонал для бану,
            але поки ні.</li>
            <li>Можливості закріпити пост.</li>
            <li>Особистих повідомлень. Зрештою тут всі свої, не соромтесь!</li>
            <li>Закладок</li>
            <li>Тредів. Ви не можете створити ланцюжок і запостити його весь одним кліком. Проте можна писати відповіді
            на пости, які вже існують.</li>
            <li>Гештегів. Вони тут не працюють в звичному розумінні, проте завдяки гештегам зручно створювати
            власні <a href="#feeds">фіди</a>.</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="feeds">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
          Що таке фід?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="collapseOne" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p><strong>Фід&nbsp;&mdash; стрічка, таймлайн постів.</strong> Зазвичай, коли ви з'явились в Блакитному, у вас є Following, What's Hot,
        What's Hot Classic. Між ними можна перемикатися свайпами вправо-вліво.</p>

          <ol>
            <li>На головному екрані з фідами в правому верхньому кутку є коліщатко&nbsp;&mdash; там можна налаштувати фіди:
              закріпити або відкріпити, видалити, знайти нові та додати їх собі.</li>
            <li>Фіди можна робити власні. Більшість українських можна знайти у @bsky.one.
              Також фіди можна лайкати, а в налаштуваннях побачити топ фідів по лайкам, тому не
              забувайте лайкати українські фіди, щоб вони виводились в топ для всіх, в тому
              числі іноземців. За прогресом слідкує @wolfigelkott.crimea.ua</li>
            <li>Детальніше про створення власних фідів можна прочитати на <a href="https://skyfeed.app">skyfeed.app</a></li>
          </ol>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
          Що таке списки?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p><strong>Списки або lists&nbsp;&mdash; це список з акаунтів</strong>, які ви хочете зам'ютити (тобто щоб вони не
            з'являлися у стрічках і ви не бачили їхніх взаємодій).</p>

          <ol>
            <li>Створити список може кожен, а також ви можете підписатися на існуючі списки інших користувачів,
              таким чином однією кнопкою зам'ютивши всіх, хто є в списку.</li>
            <li>Бан-листи поки не підвезли, але ви можете пройтись по існуючим спискам та забанити кожного
              звідти вручну.</li>
            <li>Створити власний список можна через Moderation - Mute lists - значок плюс у правому
              верхньому куті. Знайти списки інших можна перейшовши на їхній профіль: графа lists буде
              йти після posts, posts&replies. Основні списки можна побачити у <a href="https://bsky.app/profile/mods.uabluerail.org">@mods.uabluerail.org</a>.</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Що таке Атлас?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p><strong>Атлас&nbsp;&mdash; це <a href="https://bsky.jazco.dev/">візуалізація</a> усіх активних користувачів Блакитного</strong>, їхньої активності та взаємодій.
            Атлас створений <a href="https://bsky.app/profile/jaz.bsky.social">@jaz.bsky.social</a> і оновлюється вручну кожні кілька днів
            (раніше приблизно кожен тиждень, але зі зростаннням кількості користувачів оновлення відбуваються рідше</p>

          <ol>
            <li>Кластери на Атласі відображають згруповання користувачів за певною ознакою&nbsp;&mdash; так, наприклад, на Атласі вже є український кластер, який ми плекаємо.
            <li>Жовті кульки&nbsp;&mdash; це українські користувачі на Атласі, їхній розмір може змінюватися залежно
              від активності. Наші жовті кульки ми теж плекаємо.</li>
            <li>Кожен кластер має свій колір, проте трапляються схожі. Так, жовтий колір також належить кластеру Web3,
            але в українського кластера насиченіший і яскравіший <span style="background-color:#ffd700;">жовтий</span>, а
             <span style="background-color:#eac72d;">жовтий</span> Web3&nbsp;&mdash; не такий. Побачити різницю можна на Атласі</li>
            <li>Якщо вас немає на Атласі, чекайте оновлення.</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Що таке Укртвізалізниця?
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p><strong>Укртвізалізниця (УТЗ)&nbsp;&mdash; Це об'єднання зусиль команди людей</strong>, українців, щоб перевезти сюди з Twitter якомога більше людей. Заснована
            <a href="https://bsky.app/profile/mathan.dev">Капітошкою</a>.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Що таке церква?
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p><strong>Церква&nbsp;&mdash; це наша спроба у розважальний спосіб описати принципи</strong> того, як працює Блакитне з нашого досвіду.
            У церкви є свій акаунт <a href="https://bsky.app/profile/bsky.church">@bsky.church</a>,
        <a href="https://bsky.app/profile/did:plc:dvgliotey33vix3wlltybgkd/feed/bluebook">свій фід</a>,
            і <a href="https://bsky.church/">свій сайт</a></p>

          <ol>
            <li>Свиня, лисиця, змія та інший зоопарк&nbsp;&mdash;це розважальний спосіб, а українці,
              очевидно, дуже люблять тварин :) Тому вони стали персонажами міфології церкви і приносять інвайти.
              Ви можете додати до міфології власного персонажа.</li>
            <li>Якщо вам не до душі такий спосіб, ваше право не любити, але не душніть на інших.</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Що за Ющенко-треди?
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Це ланцюжок відповідей різних користувачів з однієї літери, які разом складаються у &laquo;Ющенко так!&raquo;.</p>

          <ol>
            <li>За цим же принципом користувачі можуть створювати і інші треди.</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSeven">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Що за пісня про їжачка?
        </button>
      </h2>
      <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Це <a href="https://www.youtube.com/watch?v=VOWmoANve8s">пісня гурту Фліт</a>.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEight">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Якщо в Твітері&nbsp;&mdash; твіти, то тут&nbsp;&mdash;&nbsp;&hellip;?
        </button>
      </h2>
      <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Офіційно&nbsp;&mdash; пости і репости. Вестерни винайшли скіти і рескіти (skeets & reskeets,
            від sky+tweet), втім, це, здається не дуже до душі команді Блакитного.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingNine">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          Яка максимальна кількість символів у одному пості?
        </button>
      </h2>
      <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>300 символів. Однак слід пам'ятати, що <a href="https://emojipedia.org/emoji-zwj-sequence/">композитні емодзі</a>
        займають більше одного символу.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEleven">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          Я не бачу відвертого контенту
        </button>
      </h2>
      <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Якщо ви виклали NSFW (хтівку), але не бачите в стрічці, це означає, що налаштування акаунту не дозволяють
            цього. Перейдіть у Moderation - Content filtering і налаштуйте відображення відвертого контенту
            (краще&nbsp;&mdash; всіх пунктів, але дійте за власними бажаннями) з режиму Hide на Warn/Show.</p>

          <ol>
            <li>Якщо у вас iPhone, ви не зможете змінити налаштування із застосунку (через вимоги App Store до
              усіх застосунків, що у них розміщуються). Залогіньтеся у <a href="https://bsky.app">веб версію</a> і
              налаштуйте це там.</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFourteen">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
          В стрічці постійно чужі відповіді, я не хочу їх бачити.
        </button>
      </h2>
      <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Перейдіть в Settings - Home Feed Preferences і налаштуйте, як ви хочете бачити.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSixteen">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
          Мені не приходять сповіщення, що робити?
        </button>
      </h2>
      <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Нічого, насолоджуватися. Сповіщення не приходять майже ні в кого.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingNineteen">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
          Чи можу я подивитись, хто квотнув пост?
        </button>
      </h2>
      <div id="collapseNineteen" class="accordion-collapse collapse" aria-labelledby="headingNineteen" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Якщо це ваш пост, то вам прийде повідомлення. Якщо пост не ваш, то ні, немає можливості побачити всі
            квоти конкретного поста.</p>
          <ol>
            <li>Квот-репости не враховуються у загальну кількість репостів.</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwenty">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
          Як часто з'являються інвайти?
        </button>
      </h2>
      <div id="collapseTwenty" class="accordion-collapse collapse" aria-labelledby="headingTwenty" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Раз на 10 днів вам точно буде приходити принаймні 1 інвайт.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwentyOne">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyOne" aria-expanded="false" aria-controls="collapseTwentyOne">
          Чи треба активно постити/коментувати, щоб отримати інвайт?
        </button>
      </h2>
      <div id="collapseTwentyOne" class="accordion-collapse collapse" aria-labelledby="headingTwentyOne" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Щоб отримати 1 інвайт раз на 10 днів&nbsp;&mdash; ні. Він випаде і якщо не бути активними.</p>
          <ol>
            <li>Можливо, за активність можна отримати більше, але на це впливає багато інших
              параметрів, тож це не гарантія.</li>
            <li>Втім, прояви активності заохочуються, оскільки це впливає на зростання кластеру,
              видимість українців, щоб нас чули, прислухалися до нас (навіть якщо ви лише шітпостите про своє).
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwentyTwo">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyTwo" aria-expanded="false" aria-controls="collapseTwentyTwo">
          Я запросив/ла друзів за своїми інвайтами і коли вони доєдналися, то мені прийшло
          повідомлення з кнопкою Dismiss, що це означає?
        </button>
      </h2>
      <div id="collapseTwentyTwo" class="accordion-collapse collapse" aria-labelledby="headingTwentyTwo" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Це означає, що ви можете приховати повідомлення, і ніяк не вплине на перебування
            ваших друзів у Блакитному.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwentyThree">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyThree" aria-expanded="false" aria-controls="collapseTwentyThree">
          Де можна подивитись усі профілі, які я забанив/ла чи зам'ютив/ла?
        </button>
      </h2>
      <div id="collapseTwentyThree" class="accordion-collapse collapse" aria-labelledby="headingTwentyThree" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Moderation - Blocked accounts або Muted accounts відповідно.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwentyFour">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyFour" aria-expanded="false" aria-controls="collapseTwentyFour">
          Чи можна поставити темну тему застосунку?
        </button>
      </h2>
      <div id="collapseTwentyFour" class="accordion-collapse collapse" aria-labelledby="headingTwentyFour" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Так, у Settings - Appearance.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwentyFive">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyFive" aria-expanded="false" aria-controls="collapseTwentyFive">
          Що таке App Passwords (Settings)?
        </button>
      </h2>
      <div id="collapseTwentyFive" class="accordion-collapse collapse" aria-labelledby="headingTwentyFive" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Це дуже офігезна штука, яка дозволяє вам користуватися сторонніми сервісами для
            Блакитного (як-от зібрати коло, подивитись найуживаніші вами слова, etc.), не
            надаючи власний пароль. Тут можна згенерувати тимчасовий пароль і використати його для
            подібних сервісів, а пізніше видалити згенерований пароль.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwentySix">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentySix" aria-expanded="false" aria-controls="collapseTwentySix">
          Що таке <em>Content languages</em>
        </button>
      </h2>
      <div id="collapseTwentySix" class="accordion-collapse collapse" aria-labelledby="headingTwentySix" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Тут можна налаштувати те, якими мовами ви хочете бачити контент. Для того, щоб
            допомогти іншим бачити контент бажаною мовою, не забувайте перед відправкою
            поста вказати мову, яким його написано (знизу праворуч поряд з кількістю написаних
            символів).</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwentySeven">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentySeven" aria-expanded="false" aria-controls="collapseTwentySeven">
          Чи можу я змінити свій handle (@username.bsky.social)?
        </button>
      </h2>
      <div id="collapseTwentySeven" class="accordion-collapse collapse" aria-labelledby="headingTwentySeven" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Так, у Settings - Change handle (треба трохи прокрутити вниз).</p>
          <ol>
            <li>Технічно просунуті користувачі можуть зробити handle <a href="https://blueskyweb.xyz/blog/4-28-2023-domain-handle-tutorial">на власному домені</a></li>
            <li>Також можна скористатися <a href="https://blueskyweb.xyz/blog/7-05-2023-namecheap">платною функцією</a> простого підключення кастомних доменів</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwentyEight">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyEight" aria-expanded="false" aria-controls="collapseTwentyEight">
          Чи можна перекласти пост?
        </button>
      </h2>
      <div id="collapseTwentyEight" class="accordion-collapse collapse" aria-labelledby="headingTwentyEight" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Так, натисніть три крапки біля поста иа оберіть Translate&nbsp;&mdash; але зауважте, вас перекине
            на вкладку браузера з відкритим Google Translate (і вже вставленим текстом).</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwentyNine">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyNine" aria-expanded="false" aria-controls="collapseTwentyNine">
          Чи можна скопіювати текст поста?
        </button>
      </h2>
      <div id="collapseTwentyNine" class="accordion-collapse collapse" aria-labelledby="headingTwentyNine" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Так, три крапки біля поста - copy post text.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThirty">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirty" aria-expanded="false" aria-controls="collapseThirty">
          Чи можна зарепортити пост/аккаунт?
        </button>
      </h2>
      <div id="collapseThirty" class="accordion-collapse collapse" aria-labelledby="headingThirty" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Так, три кнопки біля поста - report; щоб зарепортити аккаунт, перейдіть на нього і знайдіть
            три кнопки справа від аватарки.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThirtyOne">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirtyOne" aria-expanded="false" aria-controls="collapseThirtyOne">
          Де побачити свої лайки?
        </button>
      </h2>
      <div id="collapseThirtyOne" class="accordion-collapse collapse" aria-labelledby="headingThirtyOne" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <p>Окремого функціоналу для цього не підвезли, проте один з користувачів Блакитного створив
            для цього <a href="https://bsky.app/profile/did:plc:vc7f4oafdgxsihk4cry2xpze/feed/likes">фід</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="text-center" style="margin-top:15ex;margin-bottom:5ex;">
    {% include "back.html" %} | <a href="#container">Нагору</a>
  </div>
{% endblock %}
