{% extends 'layout.html' %}

{% block title %}Церква Св. Інвайту{% endblock %}


{% block styles %}
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/church.css')}}">
{% endblock %}

{% block og %}
	<meta property="og:title" content="St. Invite Church &#x1F7E1;&#x1F4D8;" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://bsky.church/" />
	<!-- <meta property="og:image" content="TBD" /> -->
	<meta property="og:description" 
		content="Respect the Church" />
{% endblock %}

{% block content %}
<div id="container">
<h2 class="text-center text-dark" id="greetings">Вітаємо у Церкві Святого Інвайту!</h2>
  <div style="width:80%;margin:0 auto;">
    <ul class="text-md-left">
      <li><a href="/commandments">Заповіді</a></li>
      <li><a href="/faq">FAQ по Bluesky</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block footer %}
    <footer class="text-md-left text-lg-start bg-light text-muted">
      &copy;&nbsp;St.&nbsp;Invite Church, 2023
    </footer>
{% endblock %}
